.toolbar {
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
  }
}

.logo {
  height: 50px;
  width: 40px;
  margin-right: 10px;
}

.link {
  height: 40px;
  width: 40px;
  position: relative;
}
